main {
    margin-top: 6em;
}

.projectList{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    min-height: 25vh;
    overflow: hidden;
}

.actionButtons{
    display: inline-flex;
    height: 3.5em;
    width: 100%;
}

.actionButtons > *{
    width: 50%;
}

.technologiesBtn{
    width: 100%;
}

.technologiesList{
    display: none;
}

.technologiesList.listVisible{
    display: block;
}


.noImage{
    display: flex;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);
    color: #fff;
    text-align: center;
}

.noImage >  h1{
    padding: 2em;
}

footer{
    padding: 2em;
}

a.button{
    padding: 1.2em !important;
}

.errorMessage{
    color: #DB2828;
}

.loader{
    z-index: 0 !important;
}

.filterList > div {
    margin: 0.3em 0.5em;
}

/* Custom icons */

i.javascript:before{
    content: url('/public/images/js.svg')
}

i.semantic:before{
    content: url('/public/images/semantic-ui.svg')
}


/* Media Queries */

@media screen and (min-width: 615px) {
    .bottomSegment{
        text-align: right;
    }

    .actionButtons{
        width: 45%;
    }
    
    .technologiesBtn{
        display: none!important;
    }

    .technologiesList{
        display: block;
    }

    .noImage >  h1{
        padding: 4em;
    }
    
}

@media screen and (max-width: 325px) {
    .ui.container {
        margin: 0!important;
    }
}